version: 2
updates:
  # Maintain dependencies for Hex packages (Erlang/Elixir)
  - package-ecosystem: "hex"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
