[{elvis, [
    {config, [
        #{ dirs => ["src/**"]
         , filter => "*.erl"
         , ruleset => erl_files
         , rules => [{elvis_style, atom_naming_convention, #{ regex => "^([a-z][a-z0-9]*_?)+([a-z0-9_]*)$", enclosed_atoms => ".*"}}
                    , {elvis_style, no_god_modules, #{limit => 30}}
                    , {elvis_style, param_pattern_matching, disable}
                    , {elvis_style, export_used_types, disable}
                    , {elvis_style, private_data_types, disable}]
         }
      , #{ dirs => ["."]
         , filter => "rebar.config"
         , ruleset => rebar_config
         , rules => [] }
    ]}
  , {verbose, true}
]}].
