%%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{minimum_otp_vsn, "17.5"}.

{deps, [
        {cowlib, ".*",  {git, "https://github.com/ninenines/cowlib.git", {tag, "1.0.0"}}},
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}},
        {uri, ".*", {git, "https://github.com/heroku/uri.git", {branch, "master"}}},
        {quintana, ".*", {git, "https://github.com/puzza007/quintana.git", {branch, "master"}}}
       ]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{profiles,
 [
  {test,
   [{deps,
     [{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.6.2"}}},
      {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
      {cth_readable, ".*", {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
      {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}}
     ]}]
  }]
}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
	     {"freebsd", compile, "gmake -C c_src"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
	      {"freebsd", clean, "gmake -C c_src clean"}]}.

{dialyzer, [
    {warnings, [underspecs, no_return, unmatched_returns, error_handling, unknown]},
    {plt_extra_apps, [uri, cowlib, gproc]}
]}.

{shell_apps, [katipo]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.
