%%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{minimum_otp_vsn, "23.0"}.

{deps, [
        {worker_pool, "6.0.1"},
        {opentelemetry_api, "1.4.0"},
        {opentelemetry_api_experimental, "0.5.1"}
       ]}.

{profiles,
 [
  {test,
   [{erl_opts, [nowarn_export_all]},
    {deps,
     [{jsx, "3.1.0"},
      {meck, "0.9.2"},
      {cowboy, "2.9.0"},
      {ephemeral, "2.0.4"},
      {opentelemetry, "1.5.0"},
      {opentelemetry_experimental, "0.5.1"}
     ]}]
  }]
}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"freebsd", compile, "gmake -C c_src"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
              {"freebsd", clean, "gmake -C c_src clean"}]}.

{dialyzer, [
    {warnings, [no_return, unmatched_returns, error_handling]},
    {plt_extra_apps, [worker_pool]}
]}.

{shell, [{apps, [katipo]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.

{plugins, [rebar3_hex,
           rebar3_lint,
           {covertool, "2.0.6"}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{hex, [{doc, #{provider => edoc}}]}.
