%%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{minimum_otp_vsn, "17.0"}.

{deps, [
        {cowlib, ".*", {git, "https://github.com/ninenines/cowlib.git", {tag, "1.3.0"}}},
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}},
        {uri, ".*", {git, "https://github.com/heroku/uri.git", {branch, "master"}}}
       ]}.

{profiles,
 [
  {test,
   [{deps,
     [{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.6.2"}}},
      {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}]}]
  }]
}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"}]}.

{dialyzer, [
    {warnings, [underspecs, no_return, unmatched_returns, error_handling, unknown]},
    {plt_extra_apps, [uri, cowlib, gproc]}
]}.

{shell_apps, [katipo]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.
